body {
    font-family: "Orbitron", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./images/rick_and_morty_background.jpg');
    background-size: cover;
    background-position: center;
}

.title-container {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

h1 {
    color: #fff;
    padding: 20px;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgba(57, 62, 70, 0.8);
    display: inline-block;
    border-radius: 100px;
}

footer {
    background-color: rgba(57, 62, 70, 0.8);
    color: #fff;
    padding: 20px 0;
    width: 100%;
    bottom: 0; 
    left: 0; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: #393e46;
    color: #fff;
}

th {
    background-color: #393e46;
    color: #fff;
    padding: 12px;
    text-align: left;
}

td {
    border-bottom: 1px solid #222;
    padding: 12px;
}

tr:nth-child(even) {
    background-color: #222;
}

tr:nth-child(odd) {
    background-color: #393e46;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffcb57;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

header {
    background-color: rgba(57, 62, 70, 0.8);
    padding: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
