* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #a588be, #8531ac, #5e0fa3);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    font-family: "Orbitron", Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.character {
    position: fixed;
    top: 50%;
    max-width: 15%;
    height: auto;
}

.character-left {
    left: 20px;
}

.character-right {
    right: 20px;
}

.container {
    margin: 0 auto;
    width: 70%;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #333;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

.nav-link:hover,
a:hover {
    color: #4d156b;
}

header {
    background-color: #222;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

nav {
    margin-top: 20px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

nav ul li a:hover {
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

th, td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4d156b;
}

tr:nth-child(even) {
    background-color: #333;
}

tr:hover {
    background-color: #555;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4d156b;
    color: #fff;
}

.pagination a:hover:not(.active) {
    background-color: #4d156b;
}

.pagination .page-item.active .page-link {
    background-color: #4d156b;
    border-color: #4d156b;
    color: #fff;
}

.mt-4 {
    overflow-x: auto;
    max-width: 100%;
    border-radius: 50px;
}

.icon_visualizar {
    text-align: center;
    width: 20px;
}
.location-link {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .character {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        width: 95%;
    }
}
