<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locations</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/episodes">Episodes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/locations">Locations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Characters</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container mt-4">
        <div class="title-container">
            <h1>List of Personagens</h1>
        </div>
        <img src="../static/images/rick.png" alt="Rick" class="character character-left">
        <img src="../static/images/morty.png" alt="Morty" class="character character-right">
        <div class="row">
            {% for character in characters %}
            <div class="col-sm-3 col-6">
                <img src="{{ character.image }}" alt="{{ character.name }}" class="img-fluid img-thumbnail"/>
                <h3>{{ character.name }}</h3>
             </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
