<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Episode Details</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style_episode.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
</head>
<body>
    {% include 'header.html' %}
    <div class="container mt-4">
        <h1>Detalhes do Episódio</h1>
        <div>
            <p><strong>Nome:</strong> {{ episode.name }}</p>
            <p><strong>Lançamento:</strong> {{ episode.air_date }}</p>
            <p><strong>Temporada:</strong> {{ episode.season }}</p>
            <p><strong>Episódio:</strong> {{ episode.episode }}</p>
            <br>
            <h2>Personagens no Episódio</h2>
            <br>
            <div class="character-grid">
                {% for character in character_data %}
                    <div class="character-item">
                        <a class="page-link" href="{{ url_for('profile', id=character.id) }}"><img src="{{ character.image }}"></a>
                        <p> {{ character.name }} </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
